.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .modal-content {
    background: linear-gradient(180deg, #0C0505 0%, #3A3535 47.92%, #5E5858 100%);
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    color: #FFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .modal-header h2 {
    margin: 0;
  }
  
  .modal-close {
    font-size: 24px;
    cursor: pointer;
    color: #FFF;
    background: none;
    border: none;
  }
  
  .modal-body {
    padding: 10px 0;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  
  form div input {
    height: 38px;
    border-radius: 10px;
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #444;
    padding-top: 10px;
  }
  
  .modal-footer button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .modal-footer button.cancel {
    background-color: #f44336; 
  }
  